[submodule "telescope/components/tinygpsplus"]
	path = telescope/components/tinygpsplus
	url = https://github.com/Causland/TinyGPSPlus-ESPIDF.git 
[submodule "telescope/components/esp32camera"]
	path = telescope/components/esp32camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "telescope/components/arduino"]
	path = telescope/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "telescope/components/esp32servo/ESP32Servo"]
	path = telescope/components/esp32servo/ESP32Servo
	url = https://github.com/Causland/ESP32Servo.git
[submodule "telescope/components/arducam/Arduino"]
	path = telescope/components/arducam/Arduino
        url = https://github.com/Causland/ArduCAM-Arduino.git
