[submodule "telescope/components/tinygpsplus"]
	path = telescope/components/tinygpsplus
	url = https://github.com/Causland/TinyGPSPlus-ESPIDF.git 
[submodule "telescope/components/esp32camera"]
	path = telescope/components/esp32camera
	url = https://github.com/espressif/esp32-camera.git
